{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/mes-reservations/style.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block content %}
<div class="dropdown-container">
</div>
{% endblock %}