
.table-container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}


table {
    width: 100%;
    margin: 0 auto; 
    border-collapse: collapse;
    text-align: center; 
}


th, td {
    padding: 12px;
    border: 1px solid #ddd; 
}


.btn-custom {
    padding: 8px 0; 
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: block; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 120px; 
    margin: 0 auto; 
}

td {
    vertical-align: middle; 
    text-align: center; 
}


.btn-warning {
    background-color: #f0ad4e;
    border-color: #f39c12;
    color: white;
}

.btn-warning:hover {
    background-color: #f39c12;
    border-color: #e67e22;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.btn-warning:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(243, 156, 18, 0.7); 
}


td .btn-warning {
    margin: 0 auto; 
    display: block; 
}


a {
    all: unset;
}


.btn-danger {
    background-color: rgb(240, 78, 78);
    border-color: rgb(243, 18, 18);
    color: white;
}

.btn-danger:hover {
    background-color: rgb(243, 18, 18);
    border-color: rgb(204, 0, 0);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.btn-danger:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(243, 18, 18, 0.7);
}


td .btn-danger {
    margin: 0 auto; 
    display: block; 
}
