{# templates/avion/insert.twig.html #}

<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Avion</title>
</head>
<body>
    <h1>Ajouter un Avion</h1>
    <form action="{{ path('app_avion_insert') }}" method="POST"> 
        <label for="modele">Modèle:</label>
        <input type="text" id="modele" name="modele" required>
        <br>
        <label for="nbPlaces">Nombre de Places:</label>
        <input type="number" id="nbPlaces" name="nbPlaces" required>
        <br>
        <input type="submit" value="Ajouter Avion">
    </form>
</body>
</html>
