.image-container {
    background: url('../../images/maldives.jpg');
    background-position: center !important;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100vh;
}

.action-button {
    background-color: #259ae2 !important;
    color: white;
    border: white 1px solid !important;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 22%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 16px;
    margin: 0 auto; 
}

.action-button:hover {
    background-color: white !important;
    color: #259ae2 !important;
    border: #259ae2 1px solid !important;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #259ae2;
    border-radius: 8px;
    background-color: white;
    width: 70%;
    margin: 80px auto;
}

.dropdown {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    text-align: center; 
}

.results-container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #259ae2;
    border-radius: 8px;
}

.results-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #259ae2;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}

.results-table thead {
    background-color: #259ae2;
    color: white;
}

.results-table th, 
.results-table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
}

.results-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.results-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.results-table tbody tr:hover {
    background-color: #e1f3ff;
}

.results-table .btn-danger {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.results-table .btn-danger:hover {
    background-color: #d32f2f;
}

.no-results {
    text-align: center;
    color: #f44336;
    font-size: 16px;
    margin-top: 20px;
}

.btn-danger {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.download-btn {
    background-color: #259ae2;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #0056b3; /* Couleur au survol */
}
